################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PBapp/.vs/PBapp/FileContentIndex/685bd797-3e15-421d-a276-c1d46f54f73c.vsidx
/PBapp/.vs/PBapp/FileContentIndex/518517ed-4ed6-42d8-a930-e89e06dc264f.vsidx
/PBapp/.vs/PBapp/FileContentIndex/7f892365-da4f-4a9c-aa0b-dff37e4347f2.vsidx
